
{% extends "layout.html" %}
{% block content %}
<div class="mb-5">
  <div class="mdc-card page-card centered">
      <header class="card-header">
        <p class="card-header-title">📊 Status</p>
      </header>
      <div class="card-content p-0">
        <div class="table-responsive is-auto">
        <table class="table is-fullwidth">
          <thead><tr><th>Source</th><th>Last Uploaded</th><th>First Transaction</th><th>Last Transaction</th><th>Last Sync</th></tr></thead>
          <tbody>
          {% for row in meta %}
            <tr>
              <td>{{ row.source }}</td>
              <td>{{ (row.last_updated|format_dt) if row.last_updated else 'Never' }}</td>
              <td>{{ (row.first_transaction|format_dt) if row.first_transaction else '-' }}</td>
              <td>{{ (row.last_transaction|format_dt) if row.last_transaction else '-' }}</td>
              <td>{{ (row.last_synced|format_dt) if row.last_synced else '-' }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-5">
  <div class="mdc-card page-card centered">
      <header class="card-header">
        <p class="card-header-title">🛒 SKU summary</p>
      </header>
      <div class="card-content p-0">
        <div class="table-responsive is-auto">
        <table class="table is-fullwidth is-narrow">
          <thead><tr><th>Type</th><th># of SKUs</th></tr></thead>
          <tbody>
          {% for row in sku_stats %}
            <tr><td>{{ row.type }}</td><td>{{ row.sku_count }}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
